/*
  
 */

 body, button, select, input {
  font-family: "Audiowide", sans-serif;
  text-align: center;
  font-size: 12pt;
  background: grey;
}

button {
  float: left;
  width: 250px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: none;
  border-radius: 15px;
}

main {
  width: 80%;
  margin: auto;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.card, #board {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#board {
  border-right:darkslategrey outset 5pt;
  border-left: darkslategrey outset 5pt;
  border-bottom:  darkslategrey outset 5pt;
  border-top:  darkslategrey outset 5pt;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  flex: wrap;
}

#dashboard {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.frame {
  display: flex;
}

a {
  color: red;
  text-decoration: none;
}

.card {
  width: 250px;
  height: 250px;
  border: 0.35em burlywood;
  border-radius: 1em;
  cursor: pointer;
  margin-top: 2px;
  margin-bottom: 2px;
  background: #fff;
  box-shadow: 3px 3px grey;
  justify-content: space-evenly;
  align-items: center;
}


.card p {
  font-weight: bold;
  font-size: 14pt;
  color: darkgray;
}

.card i {
  font-size: 20pt;
}

#water{
  color: skyblue;
}

#temperature{
  color: tomato;
}

#alarm{
  color: red;
}

.hidden {
  display: none;
}



